<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ msg }}
<br/>
{% if groups.count > 0 %}
    <table id = "table_groups">
    {% for group in groups %}
        <tr>
            <td>{{ group.crash_group_id }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

<h2>Add new crash group</h2>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="crash_group_id" placeholder="crash_group_id">
    <button type="submit">Add!</button>
</form>

</body>
</html>